body {
    font-family: Verdana;
    text-align: center;
}

#container {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#btnDice {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#btnDice:hover {
    background-color: hsl(210, 100%, 60%);
}

#btnDice:active {
    background-color: hsl(210, 100%, 70%);
}

#valor {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult {
    margin: 25px;
}

#diceImages img {
    width: 150px;
    margin: 5px;
}

#doCheck {
    font-family: Verdana;
    font-size: 2em;
    padding: 200px ;
}

#titulo {
    color: #6381E3;
    font-family: Verdana;
}

form {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    height: 300px;
    margin: 0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    color: white;
    font-size: 1.5em;
    border: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 100%, 50%);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

#mySubmit {
    font-size: 1em;
}

#myButton {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

.myLabels {
    font-size: 3em;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#mySubmit {
    font-size: 1em;
}

.buttons:hover {
    background-color: hsl(214, 100%, 74%);
}